:root {
  --display: flex;
  --justify-content: center;
  --align-items: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  display: var(--display);
  justify-content: space-between;
  align-items: var(--align-items);
  border-bottom: 2px solid black;
  list-style-type: none;
}

nav {
  font-size: 15px;
  margin-right: 4px;
}

.logo {
  max-width: 35px;
  margin-top: 4px;
  margin-left: 4px;
}

/* MAIN */

h3 {
  display: var(--display);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  margin: 7px;
}

section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

fieldset {
  width: 250px;
  height: 200px;
  border: 2px solid black;
  border-radius: 6px;
}

fieldset > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: black;
  color: white;
}


.displayResult {
  text-align: center;
}

/* FOOTER */

footer {
  display: var(--display);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  font-size: 15px;
}